body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.todo-header__title {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 3px;
  animation: color-change 5s infinite alternate;
}
@keyframes color-change {
  0%   { color: #000000; } 
  20%  { color: #9f0303; } 
  40% { color: #cddb01; } 
  60% { color: #05aa10; }
  80% { color: #04bfbf; }
  100% { color: #023bad; }
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.todo-header__counter {
  text-align: center;
  color: red;
  max-width: 300px;
  margin: 10px;
  padding: 5px;
  border: solid;
  border-radius: 6px;
  border-color: #07a0bb;
  background-color: beige;
}

.todo-form {
  margin: 10px;
  padding: 5px;
  max-width: 300px;
  border: solid;
  border-radius: 6px;
  border-color: #07a0bb;
  background-color: beige;
}

.todo-form__input {
  margin: 5px;
  padding: 5px;
}

.todo-form__btn {
  padding: 5px 10px;
  border: solid;
  border-radius: 6px;
  border-color: blue;
  background-color: #026928;
}

.todo-list {
  list-style: none;
  max-width: 1000px;
  padding: 0;
}

.todo-list__item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
  padding: 3px;
  max-width: 1000px;
  background-color: beige;
  border: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #9c0376;
}

.todo-list__text--done {
  text-decoration: line-through;
  color: gray;
  background-color: beige;
}

.todo-list__btn--delete {
  font-size: 16px;
  margin-left: auto;
  border: solid;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  border-color: black;
}

.bg-video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(video/kosmos_3840x2160.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.bg-video {
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}